body{
  width: 1250px;
  margin: 0 auto;

  -webkit-background-size: 60px 60px;
  -moz-background-size: 60px 60px;
  background-size: 60px 60px;
  background-color: #545454;
  background-image: -webkit-gradient(linear, 0 0, 100% 100%,
              color-stop(.25, #444444), color-stop(.25, transparent),
              color-stop(.5, transparent), color-stop(.5, #444444),
              color-stop(.75, #444444), color-stop(.75, transparent),
              to(transparent));
  background-image: -webkit-linear-gradient(-45deg, #444444 25%, transparent 25%,
            transparent 50%, #444444 50%, #444444 75%,
            transparent 75%, transparent);
  background-image: -moz-linear-gradient(-45deg, #444444 25%, transparent 25%,
            transparent 50%, #444444 50%, #444444 75%,
            transparent 75%, transparent);
  background-image: -ms-linear-gradient(-45deg, #444444 25%, transparent 25%,
            transparent 50%, #444444 50%, #444444 75%,
            transparent 75%, transparent);
  background-image: -o-linear-gradient(-45deg, #ffde00 25%, transparent 25%,
            transparent 50%, #444444 50%, #ffde00 75%,
            transparent 75%, transparent);
  background-image: linear-gradient(-45deg, #444444 25%, transparent 25%,
            transparent 50%, #444444 50%, #444444 75%,
            transparent 75%, transparent);
color: #FFFFFF

}

.toplogo{
  width: 400px;
}


/* 表  */
table {
	border-collapse: collapse;
	width:100%;
}
th.left{
  background-color: #ff00de;
}
th.other{
  background-color: #0ad3ff;
}
td.left{
  background-color: #ffa800;
}
td.other{
  background-color: #ffde00;
  color: #000000;
}
.price{
  color: #FFFFFF;
}



/* ロゴ部分  */
.space50{
  background-color: #FFFFFF;
  height: 50px;
  color: #000000;
  text-align: center;
  font-size: 25px;
}
.wikilogobox{
  background:#ddd url(img/img_.png) bottom center / cover no-repeat fixed;
  text-align: center;
  height: 300px;
  position:relative;
  background-color: #FFFFFF;
}
.logo{
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
    width: 400px
}



h1{
position: relative;
padding: 0.5em;
background: #a6d3c8;
color: white;
}

h1::before {
position: absolute;
content: '';
top: 100%;
left: 0;
border: none;
border-bottom: solid 15px transparent;
border-right: solid 20px rgb(149, 158, 155);
}

h2{
position: relative;
padding: 0.5em;
background: #ffde00;
color: black;
}

h2::before {
position: absolute;
content: '';
top: 100%;
left: 0;
border: none;
border-bottom: solid 15px transparent;
border-right: solid 20px #b09900;
}
.sideul{
  width: 175px
}
.thispage{
  color: #FFFFFF;
  background: #fca400; /* Old browsers */
  background: -moz-linear-gradient(left, #fca400 0%, #ff3d3d 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #fca400 0%,#ff3d3d 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #fca400 0%,#ff3d3d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fca400', endColorstr='#ff3d3d',GradientType=1 ); /* IE6-9 */
  font-size: 80%;
  list-style-type: none!important;/
}
.otherpage{
  font-size: 80%;
  list-style-type: none!important;/
}
.spacehr{
  color: #FFFFFF;
  border: 0;
}
.wikilogo{
  width: 250px;
  height: 100px;
  object-fit: cover;
  margin-top: auto;
  margin-bottom: auto;
}

#main{
  width: 1000px;
  float: right;
}
#side{
  position: fixed;
  width: 250px;
  height: 100%;
  float: left;
  background-color: #FFFFFF;
  text-align: center;
}
